In [2]:
import pandas as pd
import numpy as np
import sys
import math
import scipy

In [3]:
def check_numeric(data_col, threshold):
    """
    Check numeric
    :param data_col: one data column from file csv.
    :param threshold: the point at which you start evaluate the result is NG,NA or OK.
    :return: result (OK, NG, NA), k (numbers of numeric rows), N (total values),
    abnormal_data_details (DataFrame contains values and indexes of invalid numeric).
     """
    #create dictionnary to constains values and indexes of invalid numeric
    abnormal_data_details = {'Indexes': [], 'Values': []}

    indexes = [] #indexes of invalid numeric
    values = [] #values of invalid numeric
    
    #for loop to fill data to 2 list (indexes and values)
    for index, value in data_col.iteritems():
        value = str(value)
        row_isnumeric = value.isnumeric()
        if not row_isnumeric:
            indexes.append(index)
            values.append(value)

    #update value in dict and change into data frame
    abnormal_data_details['Indexes'] = indexes
    abnormal_data_details['Values'] = values
    abnormal_data_details = pd.DataFrame(abnormal_data_details)

    result = 'NA'
    k = len(data_col) - len(values)  # number of numeric rows: total_row - abnormal_row
    N = len(data_col)  # total values
    #Condition to get result by the ratio of k/N and theshold
    ratio = k/N
    if k/N >= threshold and k < N:
        result = 'NG'
    elif k == N:
        result = 'OK'
    
    #write to file
    
    with open('SummaryOutput.txt','w') as f:
        f.write(str(k/N))
        f.close()

    return result, k, N, abnormal_data_details

In [4]:

def mean(data_col):
    return (sum(data_col) / len(data_col))


def stdev(data):
    mu = mean(data)
    return math.sqrt(sum([(point - mu) ** 2 for point in data]) / len(data))


def check_value_range(data_col, threshold_range_z_score, threshold_range_iqr):
    """
    The function checks value range of the data column
    :param data_col: one data column from file csv.
    :param threshold_range_z_score: threshold_z_score of the length function
    :param threshold_range_iqr: threshold_z_iqr of the length function
    :return: result 'OK', 'NA', 'NG'
    """
    # set result's default as 'NA'
    result = 'NA'
    # numbers of outliers in data_col
    outliers = []

    # check numeric in data_col
    for row in data_col:
        # If the column has a value isn't numeric, return 'NA'
        row = str(row)
        if not row.isnumeric():
            return result

    # If the column has 100% value is numeric
    # convert into integer
    for i in range(len(data_col)):
        data_col[i] = int(data_col[i])
    # sort data_col
    data_col_sorted = np.sort(data_col)

    # get the middle value's index
    median_index = len(data_col_sorted) // 2 if len(data_col_sorted) % 2 == 0 else len(data_col_sorted) // 2 + 1

    # If length of data_col is even number
    # First quartile Q1 is value calculate from index 0 to median_index
    # Third quartile Q3 is value calculate from median_index+1 to index -1
    if len(data_col_sorted) % 2 == 0:
        Q1 = np.median(data_col_sorted[:median_index])
        Q3 = np.median(data_col_sorted[median_index:])

        # If length of data_col is odd number
    # First quartile Q1 is value calculate from index 0 to median_index-1
    # Third quartile Q3 is value calculate from median_index+1 to index -1
    else:
        Q1 = np.median(data_col_sorted[:median_index - 1])
        Q3 = np.median(data_col_sorted[median_index:])

    # Calculate IQR
    IQR = Q3 - Q1

    # Calculate [Low, Up] value based on threshold_iqr:
    Low = Q1 - threshold_range_iqr * IQR
    Up = Q3 + threshold_range_iqr * IQR
    # If x value is greater than Up or smaller than Lower, x is outlier.
    for x in data_col:
        if x > Up or x < Low:
            outliers.append(x)  # if x is outlier, append x to outliers[]

    # Initialization
    # Calculate mean of all values in column:
    Vmean = mean(data_col)

    # Calculate the standard deviation:
    Vstdev = stdev(data_col)

    # Calculate z-score of each value Vi: Vi_zscore = (Vi - Vmean) / Vstdev
    # If abs(Vi_zscore)> threshold_z_score, x is outlier.
    for Vi in data_col:
        Vi_zscore = (Vi - Vmean) / Vstdev
        if abs(Vi_zscore) > threshold_range_z_score:
            outliers.append(Vi)  # if Vi is outlier, append Vi to outliers[]

    if len(outliers) > 0:
        result = 'NG'
    elif len(outliers) == 0:
        result = 'OK'

    return result

In [5]:

def check_length(data_col, threshold_length):
    """
    The function checks the length of the data column.
    :param data_col: data column.
    :param threshold_length: threshold of the length function.
    :return: result 'OK', 'NA', 'NG'.
    """

    # set default result as 'NA'
    result = 'NA'
    # get len of data_col as N
    N = len(data_col)
    # Setting up a new value chain is the length of each value in the original string
    Li = []
    for li in data_col:
        Li.append(len(str(li)))  # add length of each value in data_col
    list_value = {str(i): Li.count(i) for i in Li}
    max_ki = max(list_value.values())
    if max_ki / N >= threshold_length and max_ki / N < 1:
        result = 'NG'
    elif max_ki / N == 1:
        result = 'OK'

    return result, max_ki, len(data_col)

In [6]:

def check_category(data_col, threshold_category):
    """
    The function checks category of the data column
    :param data_col:  one data column from file csv.
    :param threshold_category: threshold of the length function.
    :return: result 'OK', 'NA', 'NG'.
    """

    Pi = []
    result = 'NA'
    outliers = []
    set_data_col = set(data_col)
    # for loop uses to count the frequence of each unique value
    for i in set_data_col:
        count = 0  # reset count varialbe for each value
        for j in data_col:
            if j == i:
                count += 1
        Pi.append(count)  # add number of each unique value to Pi

    Pmean = mean(Pi)
    Pstdev = stdev(Pi)

    for pi in Pi:
        Li_zscore = (pi - Pmean) / Pstdev
        # if Li_zscore < thresholdLength then it is outlier,
        if Li_zscore < threshold_category:
            outliers.append(Li_zscore)  # append Li_zscore to outliers[]

    if len(outliers) == 0:
        result = 'OK'
    elif len(outliers) > 0:
        result = 'NG'

    return result, outliers

In [17]:
df = pd.read_csv('DBDetectOutlier.csv', dtype='object')

In [18]:
for col in df.columns:
    if type(col) != int() or type(col) != float():
        print('Column"s Name: {}'.format(col))
        print(check_numeric(df[col], 0.95))

Column"s Name: BANKCode
('NG', 41, 42,    Indexes Values
0        0    11O)
Column"s Name: KEIY_SEQ
('OK', 42, 42, Empty DataFrame
Columns: [Indexes, Values]
Index: [])
Column"s Name: CIF_NO
('NA', 7, 42,     Indexes Values
0         7    nan
1         8    nan
2         9    nan
3        10    nan
4        11    nan
5        12    nan
6        13    nan
7        14    nan
8        15    nan
9        16    nan
10       17    nan
11       18    nan
12       19    nan
13       20    nan
14       21    nan
15       22    nan
16       23    nan
17       24    nan
18       25    nan
19       26    nan
20       27    nan
21       28    nan
22       29    nan
23       30    nan
24       31    nan
25       32    nan
26       33    nan
27       34    nan
28       35    nan
29       36    nan
30       37    nan
31       38    nan
32       39    nan
33       40    nan
34       41    nan)
Column"s Name: LOGIN_PWD
('NA', 0, 42,     Indexes                            Values
0         0  4BACA5C5A93960376ACDA41ED280AB62
1         1  750767504CBBFBCAA5E916ADA80A52AC
2         2  750767504CBBFBCAA5E916ADA80A52AC
3         3  750767504CBBFBCAA5E916ADA80A52AC
4         4  D69135B57A5A4B6D62C54228A6D1683A
5         5  D69135B57A5A4B6D62C54228A6D1683A
6         6  D69135B57A5A4B6D62C54228A6D1683A
7         7  4BACA5C5A93960376ACDA41ED280AB62
8         8  4BACA5C5A93960376ACDA41ED280AB62
9         9  D69135B57A5A4B6D62C54228A6D1683A
10       10  4BACA5C5A93960376ACDA41ED280AB62
11       11  4BACA5C5A93960376ACDA41ED280AB62
12       12  4BACA5C5A93960376ACDA41ED280AB62
13       13  A1D86DBDBB26E43400AD438D962C1A87
14       14  A1D86DBDBB26E43400AD438D962C1A87
15       15  A1D86DBDBB26E43400AD438D962C1A87
16       16  A1D86DBDBB26E43400AD438D962C1A87
17       17  A1D86DBDBB26E43400AD438D962C1A87
18       18  A1D86DBDBB26E43400AD438D962C1A87
19       19                               nan
20       20                               nan
21       21                               nan
22       22                               nan
23       23                               nan
24       24                               nan
25       25                               nan
26       26                               nan
27       27                               nan
28       28                               nan
29       29                               nan
30       30                               nan
31       31                               nan
32       32                               nan
33       33                               nan
34       34                               nan
35       35                               nan
36       36                               nan
37       37                               nan
38       38                               nan
39       39                               nan
40       40                               nan
41       41                               nan)
Column"s Name: LOGIN_PWD_Date
('NA', 0, 42,     Indexes            Values
0         0  27/02/2015 14:30
1         1  16/12/2015 18:15
2         2  16/12/2015 18:15
3         3  16/12/2015 18:15
4         4   12/4/2016 17:44
5         5   12/4/2016 17:44
6         6   12/4/2016 17:44
7         7    2/3/2018 13:49
8         8  17/12/2015 11:27
9         9  23/02/2015 20:56
10       10  29/08/2017 15:56
11       11     4/1/2016 2:43
12       12     4/1/2016 2:46
13       13     1/1/2016 0:00
14       14  26/06/2018 18:34
15       15     1/1/2016 0:00
16       16  29/08/2017 15:54
17       17  26/06/2018 20:55
18       18  29/08/2017 15:53
19       19  20/10/2017 10:00
20       20  20/10/2017 10:00
21       21  20/10/2017 10:00
22       22  20/10/2017 10:00
23       23  20/10/2017 10:00
24       24  20/10/2017 10:00
25       25  20/10/2017 10:00
26       26  20/10/2017 10:00
27       27  20/10/2017 10:00
28       28  20/10/2017 10:00
29       29  20/10/2017 10:00
30       30  20/10/2017 10:00
31       31  20/10/2017 10:00
32       32  20/10/2017 10:00
33       33  20/10/2017 10:00
34       34  20/10/2017 10:00
35       35  20/10/2017 10:00
36       36  20/10/2017 10:00
37       37  20/10/2017 10:00
38       38  20/10/2017 10:00
39       39  20/10/2017 10:00
40       40  20/10/2017 10:00
41       41  20/10/2017 10:00)
Column"s Name: User_PWD
('NA', 0, 42,     Indexes                            Values
0         0  D69135B57A5A4B6D62C54228A6D1683A
1         1  4BACA5C5A93960376ACDA41ED280AB62
2         2  4BACA5C5A93960376ACDA41ED280AB62
3         3                               nan
4         4                               nan
5         5                               nan
6         6                               nan
7         7                               nan
8         8                               nan
9         9                               nan
10       10                               nan
11       11                               nan
12       12                               nan
13       13                               nan
14       14                               nan
15       15                               nan
16       16                               nan
17       17                               nan
18       18                               nan
19       19                               nan
20       20                               nan
21       21                               nan
22       22                               nan
23       23                               nan
24       24                               nan
25       25                               nan
26       26                               nan
27       27                               nan
28       28                               nan
29       29                               nan
30       30                               nan
31       31                               nan
32       32                               nan
33       33                               nan
34       34                               nan
35       35                               nan
36       36                               nan
37       37                               nan
38       38                               nan
39       39                               nan
40       40                               nan
41       41                               nan)
Column"s Name: CreateDate
('NA', 0, 42,     Indexes            Values
0         0    6/1/2017 14:59
1         1  14/03/2017 14:09
2         2  29/08/2017 15:54
3         3               nan
4         4               nan
5         5               nan
6         6               nan
7         7               nan
8         8               nan
9         9               nan
10       10               nan
11       11               nan
12       12               nan
13       13  20/10/2017 10:00
14       14  20/10/2017 10:00
15       15  20/10/2017 10:00
16       16  20/10/2017 10:00
17       17  20/10/2017 10:00
18       18  20/10/2017 10:00
19       19  20/10/2017 10:00
20       20  20/10/2017 10:00
21       21  20/10/2017 10:00
22       22  20/10/2017 10:00
23       23  20/10/2017 10:00
24       24  20/10/2017 10:00
25       25  20/10/2017 10:00
26       26  20/10/2017 10:00
27       27  20/10/2017 10:00
28       28  20/10/2017 10:00
29       29  20/10/2017 10:00
30       30  20/10/2017 10:00
31       31  20/10/2017 10:00
32       32  20/10/2017 10:00
33       33  20/10/2017 10:00
34       34  20/10/2017 10:00
35       35  20/10/2017 10:00
36       36  20/10/2017 10:00
37       37  20/10/2017 10:00
38       38  20/10/2017 10:00
39       39  20/10/2017 10:00
40       40  20/10/2017 10:00
41       41  20/10/2017 10:00)
Column"s Name: Email
('NA', 0, 42,     Indexes                        Values
0         0  1rrrrr-rrr_rr.0000@gmail.com
1         1  2rrrrr-rrr_rr.0000@gmail.com
2         2                       a@a.com
3         3                       a@a.com
4         4                       a@a.com
5         5                       a@a.com
6         6                       a@a.com
7         7                       a@a.com
8         8                       a@a.com
9         9                       a@a.com
10       10                       a@a.com
11       11                       a@a.com
12       12                       a@a.com
13       13                       a@a.com
14       14                       a@a.com
15       15                       a@a.com
16       16                       a@a.com
17       17                       a@a.com
18       18                       a@a.com
19       19                       a@a.com
20       20                       a@a.com
21       21                       a@a.com
22       22                       a@a.com
23       23                       a@a.com
24       24                       a@a.com
25       25                       a@a.com
26       26                       a@a.com
27       27                       a@a.com
28       28                       a@a.com
29       29                       a@a.com
30       30                       a@a.com
31       31                       a@a.com
32       32                       a@a.com
33       33                       a@a.com
34       34                       a@a.com
35       35                       a@a.com
36       36                       a@a.com
37       37                       a@a.com
38       38                       a@a.com
39       39                       a@a.com
40       40                       a@a.com
41       41                       a@a.com)
Column"s Name: STRT_YMD
('OK', 42, 42, Empty DataFrame
Columns: [Indexes, Values]
Index: [])
Column"s Name: STOP_YMD
('NA', 32, 42,    Indexes Values
0        3    nan
1        4    nan
2        5    nan
3        6    nan
4        7    nan
5        8    nan
6        9    nan
7       10    nan
8       11    nan
9       12    nan)
Column"s Name: T_DT
('NA', 0, 42,     Indexes            Values
0         0  31/12/9999 23:59
1         1  31/12/9999 23:59
2         2  31/12/9999 23:59
3         3               nan
4         4               nan
5         5               nan
6         6               nan
7         7               nan
8         8               nan
9         9               nan
10       10               nan
11       11               nan
12       12               nan
13       13               nan
14       14               nan
15       15               nan
16       16               nan
17       17               nan
18       18               nan
19       19               nan
20       20               nan
21       21               nan
22       22               nan
23       23               nan
24       24               nan
25       25               nan
26       26               nan
27       27               nan
28       28               nan
29       29               nan
30       30               nan
31       31               nan
32       32               nan
33       33               nan
34       34               nan
35       35               nan
36       36               nan
37       37               nan
38       38               nan
39       39               nan
40       40               nan
41       41               nan)
Column"s Name: MAIL_STOP_DT
('NA', 0, 42,     Indexes            Values
0         0    6/1/2017 14:59
1         1  14/03/2017 14:09
2         2        0001/01/01
3         3   10/1/2017 18:31
4         4   10/1/2017 18:31
5         5   10/1/2017 18:31
6         6   10/1/2017 18:31
7         7   10/1/2017 18:31
8         8   10/1/2017 18:31
9         9   10/1/2017 18:31
10       10   10/1/2017 18:31
11       11   10/1/2017 18:31
12       12   10/1/2017 18:31
13       13               nan
14       14               nan
15       15               nan
16       16               nan
17       17               nan
18       18               nan
19       19               nan
20       20               nan
21       21               nan
22       22               nan
23       23               nan
24       24               nan
25       25               nan
26       26               nan
27       27               nan
28       28               nan
29       29               nan
30       30               nan
31       31               nan
32       32               nan
33       33               nan
34       34               nan
35       35               nan
36       36               nan
37       37               nan
38       38               nan
39       39               nan
40       40               nan
41       41               nan)

In [8]:
for col in df.columns:
    if type(col) != int() or type(col) != float() :
         print("Column's Name: {}".format(col))
         print(check_value_range(df[col], 2, 1))

Column's Name: BANKCode
NA
Column's Name: KEIY_SEQ
OK
Column's Name: CIF_NO
NA
Column's Name: LOGIN_PWD
NA
Column's Name: LOGIN_PWD_Date
NA
Column's Name: User_PWD
NA
Column's Name: CreateDate
NA
Column's Name: Email
NA
Column's Name: STRT_YMD
OK
Column's Name: STOP_YMD
NA
Column's Name: T_DT
NA
Column's Name: MAIL_STOP_DT
NA

In [9]:
for col in df.columns:
    if type(col) != int() or type(col) != float() :
        print("Column's Name: {}".format(col))
        print(check_length(df[col], 0.95))

Column's Name: BANKCode
('OK', 42, 42)
Column's Name: KEIY_SEQ
('NG', 41, 42)
Column's Name: CIF_NO
('NA', 35, 42)
Column's Name: LOGIN_PWD
('NA', 23, 42)
Column's Name: LOGIN_PWD_Date
('NA', 34, 42)
Column's Name: User_PWD
('NA', 39, 42)
Column's Name: CreateDate
('NA', 31, 42)
Column's Name: Email
('NG', 40, 42)
Column's Name: STRT_YMD
('OK', 42, 42)
Column's Name: STOP_YMD
('NA', 32, 42)
Column's Name: T_DT
('NA', 39, 42)
Column's Name: MAIL_STOP_DT
('NA', 29, 42)

In [19]:
for col in df.columns:
    if type(col) != int() or type(col) != float() :
        print("Column's Name: {}".format(col))
        print(check_category(df[col], 0.84))

Column's Name: BANKCode
('NG', [0.24576957615571215, 0.08192319205190406, -1.556540648986177])
Column's Name: KEIY_SEQ
('NG', [-0.1581138830084192, -0.1581138830084192, -0.1581138830084192, -0.1581138830084192, -0.1581138830084192, -0.1581138830084192, -0.1581138830084192, -0.1581138830084192, -0.1581138830084192, -0.1581138830084192, -0.1581138830084192, -0.1581138830084192, -0.1581138830084192, -0.1581138830084192, -0.1581138830084192, -0.1581138830084192, -0.1581138830084192, -0.1581138830084192, -0.1581138830084192, -0.1581138830084192, -0.1581138830084192, -0.1581138830084192, -0.1581138830084192, -0.1581138830084192, -0.1581138830084192, -0.1581138830084192, -0.1581138830084192, -0.1581138830084192, -0.1581138830084192, -0.1581138830084192, -0.1581138830084192, -0.1581138830084192, -0.1581138830084192, -0.1581138830084192, -0.1581138830084192, -0.1581138830084192, -0.1581138830084192, -0.1581138830084192, -0.1581138830084192, -0.1581138830084192])
Column's Name: CIF_NO
('NG', [-1.3471506281091268, -0.5773502691896257])
Column's Name: LOGIN_PWD
('NG', [-1.7062503692543614, 0.08980265101338752, -0.3592106040535497])
Column's Name: LOGIN_PWD_Date
('NG', [-0.33069765057165035, -0.33069765057165035, -0.33069765057165035, 0.03674418339685007, -0.33069765057165035, -0.33069765057165035, -0.33069765057165035, -0.33069765057165035, 0.03674418339685007, -0.33069765057165035, -0.33069765057165035, -0.33069765057165035, -0.14697673358740013, -0.33069765057165035])
Column's Name: User_PWD
('NG', [-1.224744871391589, 0.0])
Column's Name: CreateDate
('NG', [-0.5660393101417801, -0.47759566793212693, -0.47759566793212693, -0.47759566793212693])
Column's Name: Email
('NG', [-0.7071067811865476, -0.7071067811865476])
Column's Name: STRT_YMD
('NG', [-0.5547001962252294, -0.5547001962252294, -0.5547001962252294, -0.5547001962252294, -0.5547001962252294, -0.5547001962252294, -0.5547001962252294, -0.5547001962252294, -0.5547001962252294, -0.5547001962252294, -0.5547001962252294, -0.5547001962252294, -0.5547001962252294, -0.5547001962252294, -0.5547001962252294, -0.5547001962252294, -0.5547001962252294, -0.5547001962252294, -0.5547001962252294, -0.5547001962252294, -0.5547001962252294, -0.5547001962252294, -0.5547001962252294, -0.5547001962252294, -0.5547001962252294, -0.5547001962252294])
Column's Name: STOP_YMD
('NG', [-1.0])
Column's Name: T_DT
('NG', [-1.0])
Column's Name: MAIL_STOP_DT
('NG', [-0.6988843297416115, -0.43008266445637633, -0.43008266445637633, -0.43008266445637633])