In [51]:
import pandas as pd
import numpy as np
import sys

In [66]:
def check_numeric(data_col, threshold):
    """
    Check numeric
    :param data_col: one data column from file csv.
    :param threshold: the point at which you start evaluate the result is NG,NA or OK.
    :return: result (OK, NG, NA), k (numbers of numeric rows), N (total values),
    abnormal_data_details (DataFrame contains values and indexes of invalid numeric).
     """
    #create dictionnary to constains values and indexes of invalid numeric
    abnormal_data_details = {'Indexes': [], 'Values': []}

    indexes = [] #indexes of invalid numeric
    values = [] #values of invalid numeric
    
    #for loop to fill data to 2 list (indexes and values)
    for index, value in data_col.iteritems():
        value = str(value)
        row_isnumeric = value.isnumeric()
        if not row_isnumeric:
            indexes.append(index)
            values.append(value)

    #update value in dict and change into data frame
    abnormal_data_details['Indexes'] = indexes
    abnormal_data_details['Values'] = values
    abnormal_data_details = pd.DataFrame(abnormal_data_details)

    result = 'NA'
    k = len(data_col) - len(values)  # number of numeric rows: total_row - abnormal_row
    N = len(data_col)  # total values
    #Condition to get result by the ratio of k/N and theshold
    ratio = k/N
    if k/N >= threshold and k < N:
        result = 'NG'
    elif k == N:
        result = 'OK'
    
    with open('SummaryOutput.txt','w') as f:
        f.write(str(k/N))
        f.close()

    return result, k, N, abnormal_data_details

In [67]:
df = pd.read_csv('DBDetectOutlier.csv', dtype='object')
columns = df.columns 
df

,BANKCode,KEIY_SEQ,CIF_NO,LOGIN_PWD,LOGIN_PWD_Date,User_PWD,CreateDate,Email,STRT_YMD,STOP_YMD,T_DT,MAIL_STOP_DT
0,11O,6,9999002,4BACA5C5A93960376ACDA41ED280AB62,27/02/2015 14:30,D69135B57A5A4B6D62C54228A6D1683A,6/1/2017 14:59,1rrrrr-rrr_rr.0000@gmail.com,20140515,99991231,31/12/9999 23:59,6/1/2017 14:59
1,110,138259,9223456,750767504CBBFBCAA5E916ADA80A52AC,16/12/2015 18:15,4BACA5C5A93960376ACDA41ED280AB62,14/03/2017 14:09,2rrrrr-rrr_rr.0000@gmail.com,20140615,99991231,31/12/9999 23:59,14/03/2017 14:09
2,110,138260,9223456,750767504CBBFBCAA5E916ADA80A52AC,16/12/2015 18:15,4BACA5C5A93960376ACDA41ED280AB62,29/08/2017 15:54,a@a.com,20140715,99991231,31/12/9999 23:59,0001/01/01
3,110,138261,9223456,750767504CBBFBCAA5E916ADA80A52AC,16/12/2015 18:15,NaN,NaN,a@a.com,20140815,NaN,NaN,10/1/2017 18:31
4,110,144839,1234567890,D69135B57A5A4B6D62C54228A6D1683A,12/4/2016 17:44,NaN,NaN,a@a.com,20140915,NaN,NaN,10/1/2017 18:31
5,110,144840,1234567890,D69135B57A5A4B6D62C54228A6D1683A,12/4/2016 17:44,NaN,NaN,a@a.com,20141015,NaN,NaN,10/1/2017 18:31
6,110,144841,1234567890,D69135B57A5A4B6D62C54228A6D1683A,12/4/2016 17:44,NaN,NaN,a@a.com,20141115,NaN,NaN,10/1/2017 18:31
7,110,138258,NaN,4BACA5C5A93960376ACDA41ED280AB62,2/3/2018 13:49,NaN,NaN,a@a.com,20141215,NaN,NaN,10/1/2017 18:31
8,110,138262,NaN,4BACA5C5A93960376ACDA41ED280AB62,17/12/2015 11:27,NaN,NaN,a@a.com,20150101,NaN,NaN,10/1/2017 18:31
9,110,138262,NaN,D69135B57A5A4B6D62C54228A6D1683A,23/02/2015 20:56,NaN,NaN,a@a.com,20150201,NaN,NaN,10/1/2017 18:31
10,110,138257,NaN,4BACA5C5A93960376ACDA41ED280AB62,29/08/2017 15:56,NaN,NaN,a@a.com,20150301,NaN,NaN,10/1/2017 18:31
11,110,138263,NaN,4BACA5C5A93960376ACDA41ED280AB62,4/1/2016 2:43,NaN,NaN,a@a.com,20150401,NaN,NaN,10/1/2017 18:31
12,110,138264,NaN,4BACA5C5A93960376ACDA41ED280AB62,4/1/2016 2:46,NaN,NaN,a@a.com,20150501,NaN,NaN,10/1/2017 18:31
13,114,138265,NaN,A1D86DBDBB26E43400AD438D962C1A87,1/1/2016 0:00,NaN,20/10/2017 10:00,a@a.com,20140201,99991231,NaN,NaN
14,114,138266,NaN,A1D86DBDBB26E43400AD438D962C1A87,26/06/2018 18:34,NaN,20/10/2017 10:00,a@a.com,20140301,99991231,NaN,NaN
15,114,138267,NaN,A1D86DBDBB26E43400AD438D962C1A87,1/1/2016 0:00,NaN,20/10/2017 10:00,a@a.com,20140401,99991231,NaN,NaN
16,114,138268,NaN,A1D86DBDBB26E43400AD438D962C1A87,29/08/2017 15:54,NaN,20/10/2017 10:00,a@a.com,20140501,99991231,NaN,NaN
17,114,138269,NaN,A1D86DBDBB26E43400AD438D962C1A87,26/06/2018 20:55,NaN,20/10/2017 10:00,a@a.com,20140601,99991231,NaN,NaN
18,114,138270,NaN,A1D86DBDBB26E43400AD438D962C1A87,29/08/2017 15:53,NaN,20/10/2017 10:00,a@a.com,20140701,99991231,NaN,NaN
19,114,138271,NaN,NaN,20/10/2017 10:00,NaN,20/10/2017 10:00,a@a.com,20140801,99991231,NaN,NaN
20,114,138272,NaN,NaN,20/10/2017 10:00,NaN,20/10/2017 10:00,a@a.com,20140901,99991231,NaN,NaN
21,114,138273,NaN,NaN,20/10/2017 10:00,NaN,20/10/2017 10:00,a@a.com,20141001,99991231,NaN,NaN
22,114,138274,NaN,NaN,20/10/2017 10:00,NaN,20/10/2017 10:00,a@a.com,20141101,99991231,NaN,NaN
23,114,138275,NaN,NaN,20/10/2017 10:00,NaN,20/10/2017 10:00,a@a.com,20141201,99991231,NaN,NaN
24,114,138276,NaN,NaN,20/10/2017 10:00,NaN,20/10/2017 10:00,a@a.com,20140115,99991231,NaN,NaN
25,114,138277,NaN,NaN,20/10/2017 10:00,NaN,20/10/2017 10:00,a@a.com,20140215,99991231,NaN,NaN
26,114,399000,NaN,NaN,20/10/2017 10:00,NaN,20/10/2017 10:00,a@a.com,20140315,99991231,NaN,NaN
27,114,399001,NaN,NaN,20/10/2017 10:00,NaN,20/10/2017 10:00,a@a.com,20140415,99991231,NaN,NaN
28,114,399002,NaN,NaN,20/10/2017 10:00,NaN,20/10/2017 10:00,a@a.com,20140515,99991231,NaN,NaN
29,114,399003,NaN,NaN,20/10/2017 10:00,NaN,20/10/2017 10:00,a@a.com,20140615,99991231,NaN,NaN
30,114,399004,NaN,NaN,20/10/2017 10:00,NaN,20/10/2017 10:00,a@a.com,20140715,99991231,NaN,NaN
31,115,399005,NaN,NaN,20/10/2017 10:00,NaN,20/10/2017 10:00,a@a.com,20140815,99991231,NaN,NaN
32,115,399006,NaN,NaN,20/10/2017 10:00,NaN,20/10/2017 10:00,a@a.com,20140915,99991231,NaN,NaN
33,115,399007,NaN,NaN,20/10/2017 10:00,NaN,20/10/2017 10:00,a@a.com,20141015,99991231,NaN,NaN
34,115,399008,NaN,NaN,20/10/2017 10:00,NaN,20/10/2017 10:00,a@a.com,20141115,99991231,NaN,NaN
35,115,399009,NaN,NaN,20/10/2017 10:00,NaN,20/10/2017 10:00,a@a.com,20141215,99991231,NaN,NaN
36,115,399010,NaN,NaN,20/10/2017 10:00,NaN,20/10/2017 10:00,a@a.com,20150115,99991231,NaN,NaN
37,115,399011,NaN,NaN,20/10/2017 10:00,NaN,20/10/2017 10:00,a@a.com,20150215,99991231,NaN,NaN
38,115,399012,NaN,NaN,20/10/2017 10:00,NaN,20/10/2017 10:00,a@a.com,20150315,99991231,NaN,NaN
39,115,399013,NaN,NaN,20/10/2017 10:00,NaN,20/10/2017 10:00,a@a.com,20150415,99991231,NaN,NaN
40,115,399014,NaN,NaN,20/10/2017 10:00,NaN,20/10/2017 10:00,a@a.com,20150515,99991231,NaN,NaN
41,115,399015,NaN,NaN,20/10/2017 10:00,NaN,20/10/2017 10:00,a@a.com,20150615,99991231,NaN,NaN

In [69]:
original_stdout = sys.stdout # Save a reference to the original standard output

for col in columns:
    if type(col) != int() or type(col) != float() :
        textList = check_numeric(df[col], 0.95)
textList

('NA',
 0,
 42,
     Indexes            Values
 0         0    6/1/2017 14:59
 1         1  14/03/2017 14:09
 2         2        0001/01/01
 3         3   10/1/2017 18:31
 4         4   10/1/2017 18:31
 5         5   10/1/2017 18:31
 6         6   10/1/2017 18:31
 7         7   10/1/2017 18:31
 8         8   10/1/2017 18:31
 9         9   10/1/2017 18:31
 10       10   10/1/2017 18:31
 11       11   10/1/2017 18:31
 12       12   10/1/2017 18:31
 13       13               nan
 14       14               nan
 15       15               nan
 16       16               nan
 17       17               nan
 18       18               nan
 19       19               nan
 20       20               nan
 21       21               nan
 22       22               nan
 23       23               nan
 24       24               nan
 25       25               nan
 26       26               nan
 27       27               nan
 28       28               nan
 29       29               nan
 30       30               nan
 31       31               nan
 32       32               nan
 33       33               nan
 34       34               nan
 35       35               nan
 36       36               nan
 37       37               nan
 38       38               nan
 39       39               nan
 40       40               nan
 41       41               nan)